In [1]:
import pandas as pd
import pdpipe as pdp

In [2]:
df = pd.DataFrame(
    data=[
        [23, 'Jo', 'M', True, 0.07, 'USA', 'Living life to its fullest'],
        [23, 'Dana', 'F', True, 0.3, 'USA', 'the pen is mightier then the sword'],
        [25, 'Bo', 'M', False, 2.3, 'Greece', 'all for one and one for all'],
        [44, 'Derek', 'M', True, 1.1, 'Denmark', 'every life is precious'],
        [72, 'Regina', 'F', True, 7.1, 'Greece', 'all of you get off my porch'],
        [50, 'Jim', 'M', False, 0.2, 'Germany', 'boy do I love dogs and cats'],
        [80, 'Richy', 'M', False, 100.2, 'Finland', 'I gots the dollarz'],
        [80, 'Wealthus', 'F', False, 123.2, 'Finland', 'me likey them moniez'],
    ],
    columns=['Age', 'Name', 'Gender', 'Smoking', 'Savings', 'Country', 'Quote'],
)

In [3]:
df

,Age,Name,Gender,Smoking,Savings,Country,Quote
0,23,Jo,M,True,0.07,USA,Living life to its fullest
1,23,Dana,F,True,0.30,USA,the pen is mightier then the sword
2,25,Bo,M,False,2.30,Greece,all for one and one for all
3,44,Derek,M,True,1.10,Denmark,every life is precious
4,72,Regina,F,True,7.10,Greece,all of you get off my porch
5,50,Jim,M,False,0.20,Germany,boy do I love dogs and cats
6,80,Richy,M,False,100.20,Finland,I gots the dollarz
7,80,Wealthus,F,False,123.20,Finland,me likey them moniez

In [4]:
pipeline = pdp.ColDrop('Name').RowDrop({'Savings': lambda x: x > 100}).Bin({'Savings': [1]}, drop=False).Scale(
    'StandardScaler').TokenizeText('Quote').SnowballStem('EnglishStemmer', columns=['Quote']).RemoveStopwords(
    'English', 'Quote').Encode('Gender').OneHotEncode('Country')

In [5]:
pdp.cq.OfDtypes(int).__doc__

"Columns of dtypes <class 'int'>"

In [6]:
pipeline

A pdpipe pipeline:
[ 0]  Drop columns Name
[ 1]  Drop rows in columns Savings by conditions
[ 2]  Bin Savings by [1].
[ 3]  Scale columns Columns of dtypes <class 'numpy.number'>
[ 4]  Tokenize Quote
[ 5]  Stemming tokens in Quote...
[ 6]  Remove stopwords from Quote
[ 7]  Encode Gender
[ 8]  One-hot encode Country

In [7]:
print(pipeline[0]._mem_str())

  - _DEF_DESCRIPTION, 72b (04.50%)
  - _DEF_EXC_MSG, 88b (05.50%)
  - _INIT_KWARGS, 264b (16.50%)
  - _abc_impl, 48b (03.00%)
  - _appmsg, 72b (04.50%)
  - _col_arg, 136b (08.50%)
  - _col_str, 56b (03.50%)
  - _desc, 72b (04.50%)
  - _errors, 16b (01.00%)
  - _exclude_columns, 16b (01.00%)
  - _exmsg, 136b (08.50%)
  - _exraise, 32b (02.00%)
  - _none_cols, 16b (01.00%)
  - _none_error, 32b (02.00%)
  - _prec_arg, 16b (01.00%)
  - _skip, 16b (01.00%)
  - is_fitted, 24b (01.50%)

In [8]:
pipeline.memory_report()

=== Pipeline memory report ===
Total pipeline size in memory: 27.62Kb
Per-stage memory structure:
[ 0] 1.60Kb (05.79%), Drop columns Name
  - _DEF_DESCRIPTION, 72b (04.50%)
  - _DEF_EXC_MSG, 88b (05.50%)
  - _INIT_KWARGS, 264b (16.50%)
  - _abc_impl, 48b (03.00%)
  - _appmsg, 72b (04.50%)
  - _col_arg, 136b (08.50%)
  - _col_str, 56b (03.50%)
  - _desc, 72b (04.50%)
  - _errors, 16b (01.00%)
  - _exclude_columns, 16b (01.00%)
  - _exmsg, 136b (08.50%)
  - _exraise, 32b (02.00%)
  - _none_cols, 16b (01.00%)
  - _none_error, 32b (02.00%)
  - _prec_arg, 16b (01.00%)
  - _skip, 16b (01.00%)
  - is_fitted, 24b (01.50%)
[ 1] 3.08Kb (11.15%), Drop rows in columns Savings by conditions
  - _DEF_DESCRIPTION, 72b (02.34%)
  - _DEF_EXC_MSG, 88b (02.86%)
  - _INIT_KWARGS, 264b (08.57%)
  - _REDUCERS, 416b (13.51%)
  - _abc_impl, 48b (01.56%)
  - _appmsg, 96b (03.12%)
  - _col_arg, 160b (05.19%)
  - _col_str, 56b (01.82%)
  - _cond_is_dict, 32b (01.04%)
  - _conditions, 304b (09.87%)
  - _desc, 96b (03.12%)
  - _exclude_columns, 16b (00.52%)
  - _exmsg, 144b (04.68%)
  - _exraise, 32b (01.04%)
  - _none_error, 24b (00.78%)
  - _prec_arg, 16b (00.52%)
  - _reduce, 56b (01.82%)
  - _skip, 16b (00.52%)
  - is_fitted, 24b (00.78%)
[ 2] 1.52Kb (05.50%), Bin Savings by [1].
  - _DEF_BIN_EXC_MSG, 128b (08.42%)
  - _DEF_DESCRIPTION, 72b (04.74%)
  - _DEF_EXC_MSG, 88b (05.79%)
  - _INIT_KWARGS, 264b (17.37%)
  - _abc_impl, 48b (03.16%)
  - _appmsg, 72b (04.74%)
  - _bin_map, 416b (27.37%)
  - _desc, 72b (04.74%)
  - _drop, 24b (01.58%)
  - _exmsg, 128b (08.42%)
  - _exraise, 32b (02.11%)
  - _prec_arg, 16b (01.05%)
  - _skip, 16b (01.05%)
  - is_fitted, 24b (01.58%)
[ 3] 3.01Kb (10.89%), Scale columns Columns of dtypes <class 'numpy.number'>
  - _DEF_DESCRIPTION, 72b (02.39%)
  - _DEF_EXC_MSG, 88b (02.93%)
  - _INIT_KWARGS, 264b (08.78%)
  - _abc_impl, 48b (01.60%)
  - _appmsg, 112b (03.72%)
  - _col_str, 96b (03.19%)
  - _desc, 104b (03.46%)
  - _exclude_columns, 16b (00.53%)
  - _exmsg, 176b (05.85%)
  - _exraise, 32b (01.06%)
  - _kwargs, 248b (08.24%)
  - _none_error, 24b (00.80%)
  - _prec_arg, 16b (00.53%)
  - _skip, 16b (00.53%)
  - is_fitted, 24b (00.80%)
  - scaler, 64b (02.13%)
[ 4] 2.00Kb (07.24%), Tokenize Quote
  - _DEF_DESCRIPTION, 72b (03.60%)
  - _DEF_EXC_MSG, 88b (04.40%)
  - _DEF_TOKENIZE_APP_MSG, 72b (03.60%)
  - _DEF_TOKENIZE_EXC_MSG, 160b (08.00%)
  - _INIT_KWARGS, 264b (13.20%)
  - _abc_impl, 48b (02.40%)
  - _appmsg, 72b (03.60%)
  - _col_arg, 136b (06.80%)
  - _col_str, 56b (02.80%)
  - _columns, 136b (06.80%)
  - _desc, 64b (03.20%)
  - _drop, 32b (01.60%)
  - _exclude_columns, 16b (00.80%)
  - _exmsg, 160b (08.00%)
  - _exraise, 32b (01.60%)
  - _none_cols, 16b (00.80%)
  - _none_error, 32b (01.60%)
  - _prec_arg, 16b (00.80%)
  - _result_columns, 16b (00.80%)
  - _skip, 16b (00.80%)
  - is_fitted, 24b (01.20%)
  - suffix, 56b (02.80%)
[ 5] 2.98Kb (10.78%), Stemming tokens in Quote...
  - _DEF_DESCRIPTION, 72b (02.42%)
  - _DEF_EXC_MSG, 88b (02.96%)
  - _DEF_STEM_DESC, 80b (02.69%)
  - _DEF_STEM_EXC_MSG, 160b (05.38%)
  - _INIT_KWARGS, 264b (08.87%)
  - _abc_impl, 48b (01.61%)
  - _appmsg, 80b (02.69%)
  - _col_arg, 136b (04.57%)
  - _col_str, 56b (01.88%)
  - _columns, 136b (04.57%)
  - _desc, 80b (02.69%)
  - _drop, 32b (01.08%)
  - _exclude_columns, 16b (00.54%)
  - _exmsg, 160b (05.38%)
  - _exraise, 32b (01.08%)
  - _none_cols, 16b (00.54%)
  - _none_error, 32b (01.08%)
  - _prec_arg, 16b (00.54%)
  - _result_columns, 16b (00.54%)
  - _skip, 16b (00.54%)
  - is_fitted, 24b (00.81%)
  - stemmer, 480b (16.13%)
  - stemmer_name, 64b (02.15%)
  - suffix, 56b (01.88%)
[ 6] 14.38Kb (52.06%), Remove stopwords from Quote
  - _DEF_DESCRIPTION, 72b (00.50%)
  - _DEF_EXC_MSG, 88b (00.61%)
  - _DEF_STOPWORDS_APP_MSG, 80b (00.56%)
  - _DEF_STOPWORDS_EXC_MSG, 160b (01.11%)
  - _INIT_KWARGS, 264b (01.84%)
  - _abc_impl, 48b (00.33%)
  - _appmsg, 80b (00.56%)
  - _col_arg, 136b (00.95%)
  - _col_str, 56b (00.39%)
  - _columns, 136b (00.95%)
  - _desc, 80b (00.56%)
  - _drop, 32b (00.22%)
  - _exclude_columns, 16b (00.11%)
  - _exmsg, 168b (01.17%)
  - _exraise, 32b (00.22%)
  - _language, 56b (00.39%)
  - _none_cols, 16b (00.11%)
  - _none_error, 32b (00.22%)
  - _prec_arg, 16b (00.11%)
  - _result_columns, 16b (00.11%)
  - _skip, 16b (00.11%)
  - _stopwords_list, 11.84Kb (82.36%)
  - is_fitted, 24b (00.17%)
  - suffix, 56b (00.39%)
[ 7] 3.08Kb (11.15%), Encode Gender
  - _DEF_DESCRIPTION, 72b (02.34%)
  - _DEF_EXC_MSG, 88b (02.86%)
  - _INIT_KWARGS, 264b (08.57%)
  - _abc_impl, 48b (01.56%)
  - _appmsg, 64b (02.08%)
  - _col_arg, 136b (04.42%)
  - _col_str, 56b (01.82%)
  - _desc, 64b (02.08%)
  - _drop, 32b (01.04%)
  - _exclude_columns, 16b (00.52%)
  - _exmsg, 136b (04.42%)
  - _exraise, 32b (01.04%)
  - _none_error, 24b (00.78%)
  - _prec_arg, 16b (00.52%)
  - _skip, 16b (00.52%)
  - encoders, 248b (08.05%)
  - is_fitted, 24b (00.78%)
[ 8] 3.55Kb (12.86%), One-hot encode Country
  - _DEF_DESCRIPTION, 72b (02.03%)
  - _DEF_EXC_MSG, 88b (02.48%)
  - _INIT_KWARGS, 264b (07.43%)
  - _abc_impl, 48b (01.35%)
  - _appmsg, 80b (02.25%)
  - _col_arg, 136b (03.83%)
  - _col_str, 56b (01.58%)
  - _desc, 72b (02.03%)
  - _drop, 32b (00.90%)
  - _drop_first, 32b (00.90%)
  - _dummy_col_map, 248b (06.98%)
  - _dummy_na, 24b (00.68%)
  - _encoder_map, 248b (06.98%)
  - _exclude_columns, 16b (00.45%)
  - _exmsg, 144b (04.05%)
  - _exraise, 32b (00.90%)
  - _none_error, 24b (00.68%)
  - _prec_arg, 16b (00.45%)
  - _skip, 16b (00.45%)
  - is_fitted, 24b (00.68%)

In [9]:
pipeline(df, verbose=True)

- Drop columns Name..
- Drop rows in columns Savings by conditions..
2 rows dropped.
- Bin Savings by [1]...

Savings: 100%|██████████| 1/1 [00:00<00:00, 108.37it/s]

- Scale columns Columns of dtypes <class 'numpy.number'>..
- Tokenize Quote..
- Stemming tokens in Quote.....

- Remove stopwords from Quote..
- Encode Gender..

100%|██████████| 1/1 [00:00<00:00, 20.50it/s]

- One-hot encode Country..

Country: 100%|██████████| 1/1 [00:00<00:00, 33.02it/s]

,Age,Gender,Smoking,Savings,Savings_bin,Quote,Country_Germany,Country_Greece,Country_USA
0,-0.917257,1,True,-0.718473,<1,"[live, life, fullest]",0,0,1
1,-0.917257,0,True,-0.625375,<1,"[pen, mightier, sword]",0,0,1
2,-0.806074,1,False,0.184172,1≤,"[one, one]",0,1,0
3,0.250161,1,True,-0.301556,1≤,"[everi, life, precious]",0,0,0
4,1.806718,0,True,2.127084,1≤,"[get, porch]",0,1,0
5,0.583709,1,False,-0.665852,<1,"[boy, love, dog, cat]",1,0,0

In [10]:
pipeline[2:4](df, verbose=True)

- Bin Savings by [1]...

Savings: 100%|██████████| 1/1 [00:00<00:00, 22.66it/s]

- Scale columns Columns of dtypes <class 'numpy.number'>..

,Age,Name,Gender,Smoking,Savings,Savings_bin,Country,Quote
0,-1.135052,Jo,M,True,-0.609615,<1,USA,Living life to its fullest
1,-1.135052,Dana,F,True,-0.604820,<1,USA,the pen is mightier then the sword
2,-1.049790,Bo,M,False,-0.563121,1≤,Greece,all for one and one for all
3,-0.239800,Derek,M,True,-0.588140,1≤,Denmark,every life is precious
4,0.953870,Regina,F,True,-0.463043,1≤,Greece,all of you get off my porch
5,0.015987,Jim,M,False,-0.606905,<1,Germany,boy do I love dogs and cats
6,1.294918,Richy,M,False,1.478052,1≤,Finland,I gots the dollarz
7,1.294918,Wealthus,F,False,1.957592,1≤,Finland,me likey them moniez